<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="reset.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <container class="ufos">
        <div class="ufos-item">
            <div class="item-one"><img src="report-linechart-svgrepo-com.svg"></div>
            <div class="item-two"><p>Отчет 1</p></div>

        </div>

        <div class="ufos-item">
            <div class="item-one"><img src="report-linechart-svgrepo-com.svg"></div>
            <div class="item-two"><p>Отчет 1</p></div>

        </div>

        <div class="ufos-item">
            <div class="item-one"><img src="report-linechart-svgrepo-com.svg"></div>
            <div class="item-two"><p>Отчет 1</p></div>

        </div>
        <div class="ufos-item">
            <div class="item-one"><img src="report-linechart-svgrepo-com.svg"></div>
            <div class="item-two"><p>Отчет 1</p></div>
        </div>

    </container>
    
</body>
</html>