body {
    background: gray;
}



.ufos {
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    justify-content: center;
    margin-top: 30px;
}


.ufos-item {
    display: block;
    height: 100%;
    width: 280px;
    padding: 20px;
}



.item-one {
    display: block;
    background: white;
    height: 80%;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding-top: 18px;
}

.item-one img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}


.item-two {
    display: block;
    background: blue;
    height: 20%;
    border-radius: 0px 0px 20px 20px;
    padding-top: 4px;
}

.item-two p {
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;


}


.margin-left-10px{
    margin-left: 10px;
}